<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.km.rmbank">

    <!-- 网络使用权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 安装未知应用来源的权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- 访问手机通讯录权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- 支付宝、微信权限 start -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 支付宝、微信权限 end -->


    <!-- umeng 权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- umeng 权限 -->


    <!-- 打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 百度地图使用权限 -->
    //读取系统信息，包含系统版本等信息，用作统计
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    //获取统计数据
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    //鉴权所需该权限获取进程列表
    <uses-permission android:name="android.permission.GET_TASKS" />
    //使用步行AR导航，配置Camera权限
    <uses-permission android:name="android.permission.CAMERA" />
    //定位权限
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <!-- 百度地图使用权限 -->

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 多分辨率支持 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/_destop_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- 极光推送 receiver start -->
        <receiver
            android:name=".utils.jpush.JPushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.km.rmbank" />
            </intent-filter>
        </receiver>
        <!-- 极光推送 receiver end -->


        <!-- 百度地图配置 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="48m8ZESQXcUsTGKPGeqfIvWDYC8XrRc8" />
        //百度地图定位service
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- 百度地图配置 -->


        <!-- 支付宝 配置 start -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 支付宝 配置 end -->


        <!-- 微信分享 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/WXSahreNoTitleBar" />
        <!-- 微信支付回调 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <!-- 友盟appkey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="561cae6ae0f55abd990035bf" />

        <!-- -QQ分享 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- -QQ分享 -->

        <activity android:name=".module.launch.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.launch.GuideActivity" />
        <activity
            android:name=".module.main.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".module.main.fragment.home.AllClubActivity" />
        <activity android:name=".module.main.fragment.home.ShowBigImageActivity" />
        <activity android:name=".module.login.LoginActivity" />
        <activity android:name=".module.main.shop.ShopActivity" />
        <activity android:name=".module.main.shop.ShoppingCartActivity" />
        <activity android:name=".module.main.shop.SearchActivity" />
        <activity android:name=".module.main.shop.GoodsActivity" />
        <activity android:name=".module.main.shop.CreateOrderActivity" />
        <activity android:name=".module.main.message.MessageActivity" />
        <activity android:name=".module.main.personal.address.ReceiverAddressActivity" />
        <activity android:name=".module.main.personal.address.CreateReceiverAddressActivity" />
        <activity android:name=".module.main.personal.setting.SettingActivity" />
        <activity android:name=".module.main.personal.setting.AboutMeActivity" />
        <activity
            android:name=".module.webview.AgreementActivity"
            android:hardwareAccelerated="true" />
        <activity android:name=".module.main.personal.order.MyOrderActivity" />
        <activity android:name=".module.main.personal.order.OrderDetailsActivity" />
        <activity android:name=".module.main.personal.order.GoodsEvaluateActivity" />
        <activity
            android:name=".module.main.personal.contacts.MyTeamActivity"
            android:launchMode="singleTask" />
        <activity android:name=".module.main.personal.member.club.ClubActivity" />
        <activity android:name=".module.main.personal.member.goodsmanager.GoodsManagerActivity" />
        <activity
            android:name=".module.main.personal.member.goodsmanager.CreateNewGoodsActivity"
            android:launchMode="singleTask" />
        <activity android:name=".module.main.personal.member.goodsmanager.GoodsTypeActivity" />
        <activity android:name=".module.main.personal.leader.MeetingListActivity" />
        <activity android:name=".module.main.personal.leader.EntranceSignInActivity" />
        <activity android:name=".module.main.personal.leader.SignInListActivity" />
        <activity
            android:name=".module.main.personal.account.UserAccountActivity"
            android:launchMode="singleTask" />
        <activity android:name=".module.main.personal.account.withdraw.CreateWithDrawAccountActivity" />
        <activity android:name=".module.main.personal.account.withdraw.WithDrawActivity" />
        <activity android:name=".module.main.personal.account.withdraw.WithDrawListActivity" />
        <activity android:name=".module.main.personal.AttentionGoodsActivity" />
        <activity android:name=".module.main.personal.circlefriends.MyForumInfosActivity" />
        <activity android:name=".module.main.personal.circlefriends.ReleaseForumActivity" />
        <activity android:name=".module.main.personal.integral.MyIntegralActivity" />
        <activity android:name=".module.main.payment.PaymentActivity" />
        <activity android:name=".module.main.personal.member.club.ClubIntroCardActivity" />
        <activity android:name=".module.main.appoint.ActionRecentInfoActivity" />
        <activity
            android:name=".module.main.appoint.ActionPastDetailActivity"
            android:hardwareAccelerated="true" />
        <activity android:name=".module.main.personal.action.AppliedActionActivity" />
        <activity android:name=".module.main.personal.member.BecomeMemberActivity" />
        <activity android:name=".module.main.payment.PaySuccessActivity" />
        <activity android:name=".module.login.SmsCodeActivity" />
        <activity android:name=".module.main.map.MapActivity" />
        <activity android:name=".module.main.scenic.ScenicActivity" />
        <activity android:name=".module.main.scenic.SelectDateActivity" />
        <activity android:name=".module.main.personal.ticket.TicketListActivity" />
        <activity android:name=".module.main.personal.ticket.TicketSignActivity" />
        <activity android:name=".module.main.personal.ticket.TicketUserRecordActivity" />
        <activity android:name=".module.main.personal.ticket.TicketRecordDetailActivity" />
        <activity android:name=".module.main.action.PromotionActivity" />
        <activity android:name=".module.main.personal.action.AppliedActionInfoActivity" />
        <activity android:name=".module.main.fragment.home.InformationActivity" />
        <activity android:name=".module.main.fragment.home.ScenicListActivity" />
        <activity android:name=".module.main.fragment.home.MoreActionActivity" />
        <activity android:name=".module.main.appoint.AppointAfternoonTeaActivity" />
        <activity android:name=".module.main.fragment.home.CircleFriendsActivity" />
        <activity android:name=".module.main.personal.hpage.PersonalHomePageActivity" />
        <activity android:name=".module.main.personal.contacts.ContactsActivity" />
        <activity android:name=".module.realname.IdentityVerificationActivity" />
        <activity android:name=".module.main.experience.ExperienceOfficerActivity" />
        <activity android:name=".module.main.card.UserNewCardActivity" />
        <activity android:name=".module.main.card.CreateNewUserCardActivity" />
        <activity android:name=".module.main.card.EditUserInfoActivity" />
        <activity android:name=".module.main.personal.setting.HelpDocumentActivity" />
        <activity
            android:name="com.baidu.ocr.ui.camera.CameraActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <activity android:name=".module.realname.IDCardHandActivity" />
        <activity android:name=".module.realname.CertifyRulesActivity" />
        <activity android:name=".module.realname.CertifyCheckActivity" />
        <activity android:name=".module.main.payment.PayContractsOrderSuccessActivity" />
        <activity android:name=".module.realname.CertifyIdCardSuccessActivity" />

        <service
            android:name=".service.ContractService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".module.main.personal.contacts.TransformContactsActivity" />
        <activity android:name=".module.main.personal.contacts.PayTransformContactActivity" />
        <activity android:name=".module.main.card.UserNewCardDetailsActivity" />
        <activity android:name=".module.main.card.UserCardActivity"></activity>
    </application>

</manifest>